<html lang = "en">
    
    <%- include("./partials/head.ejs") %>

    <body class="welcome-body">
    
        <div class="welcome-container">
            <h1>Welcome!</h1>
            <p class="welcome-content">
                Hi 🤓
            </p>
            <form action="/about" method="GET">
                <button type="submit">Explore</button>
            </form>
        </div>

        <%- include("./partials/foot.ejs") %>

    </body>
</html>