<div class="row">
    <div class="col">
        <ul>
            <% posts.forEach(function(post){ %>
                <%- include("./list-item.ejs", {post: post}); %>
            <% }); %>
        </ul>
    </div>
</div>