<footer>
    <div class="footer">
        <div class="footer-container">
            <div class="contact-info-container">
                Contact Me<br>
            </div>
            <div class="links-container">
            </div>
            <div class="closing-text">
            </div>
        </div>
    </div>
</footer>