<head>
    <meta charset="UTF-8">
    <!-- what is viewport? -->
    <meta name="viewport"
    content = "width=device-width, initial-scale=1.0">
    <%- include("./nav.ejs") %>
    <title>Node.js Tutorial Page | <%= title %></title>
</head>