<div class="row">
    <!-- picture from reddit. will replace. u/bubu2309 found on r/ASCII -->
     <div class="col-md-4">
        <img src="images/kirby.gif" alt="temporary image" title="" class="img-fluid">
     </div>
    <div class="col">
        <h1>Itzel Polanco Salgado</h1>
        <h3 class="text-info">she/they</h2>
        <!-- intro -->
        <p>hello there! my name is itzel! i am a 22 yr old trans woman. my pronouns are she/they. this is my personal website where i will publish my thoughts and projects while also showcasing a bit of my personality. a little bit about me, i am community driven, i love spending time outdoors or with my friends and cats, playing guitar, tinkering w hardware and software, and i am a georgia tech alumni based in atlanta ga. enjoy! :)</p>
        <!-- professional interests -->
        <p>my main career interests are working on infrastructure/cloud software and embedded firmware. i am always looking for different directions to branch into. if it matters, my favorite programming languages are: C/C++, Python, and Java but i like any other swe professional feel comfortable w any language tbh. at the moment i am open to work, preferably looking for an embedded role.</p>
        <!-- personal interests -->
        <p></p>
    </div>
</div>