<div class="row">
    <div class="col">
        <h1>Itzel "yoli" Polanco Salgado</h1>
        <h2>she/they</h2>
        <p>Lorem ipsummmmmmm mfds mafdsah fdhsa kfjdklsaf jkfdlsjfkld;jfklda jfkdlsjfklas jf;kasjklf jasklf jdklsajf ;ds .</p>
        <p>More lorem ispum fjdsaf jdklfj dklsfjkdslafdkls; fjkdslafj kdsfjdk sjfdsjf jfdsafk ldjsaklf jdskal.</p>
    </div>
</div>