<nav>
    <div class="nav-container">
        <div class="site-title">
            <a href="/" class="title" style="text-decoration: none; color: black;"></a>
        </div>
        <div class="nav-menu">
                <a class="navbar-text" href="/" style="text-decoration: none; color: black">Home</a>
                <a class="navbar-text" href="/about" style="text-decoration: none; color: black">About</a>
                <a class="navbar-text" href="/photos" style="text-decoration: none; color: black">Photos</a>
                <a class="navbar-text" href="/projects" style="text-decoration: none; color: black">Projects</a>
        </div>
        <%- include("./styles.html") %>
    </div>
</nav>